<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hobnob"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.hobnob.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hobnob.UserScreen"
            android:label="@string/title_activity_user_screen" >
        </activity>
        <activity
            android:name="com.example.hobnob.CreateAccountDetails"
            android:label="@string/title_activity_create_account_details" >
        </activity>
        <activity
            android:name="com.example.hobnob.EventCreationScreen"
            android:label="@string/title_activity_event_creation_screen" >
        </activity>
        <activity
            android:name="com.example.hobnob.EventScreen"
            android:label="@string/title_activity_event_screen" >
        </activity>
        <activity
            android:name="com.example.hobnob.ListEvents"
            android:label="@string/title_activity_list_events" >
        </activity>
        <activity
            android:name="com.example.hobnob.FriendList"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity
            android:name="com.example.hobnob.ChatRoom"
            android:label="@string/title_activity_chat_room" >
        </activity>
        <activity
            android:name="com.example.hobnob.EditUser"
            android:label="@string/title_activity_edit_user">
        </activity>
        <activity
            android:name="com.example.hobnob.ChangeName"
            android:label="@string/title_activity_change_name">
        </activity>
    </application>

</manifest>
